:root {
  /* fonts */
  --main-font: 'Roboto', sans-serif;

  // text colors
  --main-text-color: #2c2c2c;
  --secondary-text-color: #000000;

  // background colors
  --btn-default: #bbf330;
  --btn-onhover: #b5ff00;
  --bgc-main: #fefefe;
  --bgc-secondary: #ffffff;

  // border colors
  --dark-green: #7eb101;
  --border-onhover: #597d00;
  --yellow-main: #ffe550;
  --error-color: #ff705d;

  //gradient
  --radial-gradient: #2f583f @0% rgba(105, 105, 105, 0) @100%;

  // others
  --items: 3;
  --indent: 32px;
  --btn-input-radius: 30px;
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
