.container {
  // mobile first
  margin: 0 auto;
  padding: 0 20px;

  //mobile
  @media screen and (min-width: $mobile) {
    width: 480px;
  }
  //tablet
  @media screen and (min-width: $tablet) {
    width: 768px;
    padding: 0 32px;
  }
  //desktop
  @media screen and (min-width: $desktop) {
    width: 1280px;
    padding: 0 16px;
  }
}
