.customers {
  align-items: center;
  padding-top: 60px;
  padding-bottom: 60px;
  width: 320px;
  margin-right: auto;
  margin-left: auto;

  @media screen and (min-width: $mobile) {
    padding-bottom: 120px;
    width: 480px;
  }
  @media screen and (min-width: $tablet) {
    width: 768px;
    padding-bottom: 120px;
  }
  @media screen and (min-width: $desktop) {
    padding: 100px 125px 200px 16px;
    width: 1280px;
  }
}
.customers__bg__img {
  background: var(--bgc-main);
  background: no-repeat;
  background-size: 100% 100%;
  background-position: bottom;

  background-image: url(../images/customers/customers-bg-mob@1x.png);
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/customers/customers-bg-mob@2x.png);
  }
  @media screen and (min-width: $mobile) {
    background-image: url(../images/customers/customers-bg-480@1x.png);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/customers/customers-bg-480@2x.png);
    }
  }
  @media screen and (min-width: $tablet) {
    background-image: url(../images/customers/customers-bg-tab@1x.png);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/customers/customers-bg-tab@2x.png);
    }
  }
  @media screen and (min-width: $desktop) {
    background-image: url(../images/customers/customers-bg-desk@1x.png);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/customers/customers-bg-desk@2x.png);
    }
  }
}
.title {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 28px;
  line-height: calc(33px / 28px);
  color: var(--main-text-color);
  margin-bottom: 20px;

  @media screen and (min-width: $tablet) {
    font-size: 42px;
    line-height: calc(49px / 42px);
  }
}
.section__description {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: calc(16px / 14px);
  color: var(--main-text-color);
  margin-bottom: 32px;

  @media screen and (min-width: $tablet) {
    font-size: 16px;
    line-height: calc(19px / 16px);
  }
}

.customers__list {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @media screen and (min-width: $tablet) {
    gap: 32px;
    flex-direction: row;
  }
  @media screen and (min-width: $desktop) {
    gap: 140px;
    flex-direction: row;
  }

  &__item {
    background-color: #fff;
    display: block;
    border-radius: 0px 30px 30px 30px;
    padding: 8px;

    @media screen and (max-width: 479px) {
      max-width: 280px;
    }
    @media screen and (min-width: 480px) {
      width: 440px;
    }
    @media screen and (min-width: $tablet) {
      width: 336px;
      padding: 12px;
    }
    @media screen and (min-width: $desktop) {
      width: 500px;
      padding: 14px;
    }
  }
}
.rate__list {
  display: flex;
  flex-direction: row;
  gap: 3px;
  height: 16px;

  &__icon {
    fill: #ffe550;
  }
}
.review {
  text-align: left;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: calc(19px / 16px);
  color: var(--main-text-color);
  margin-top: 28px;
  margin-bottom: 40px;

  @media screen and (min-width: $tablet) {
    font-size: 18px;
    line-height: calc(19px / 18px);
    height: 84px;
  }
  @media screen and (min-width: $desktop) {
    height: 63px;
  }
}
.profile__block {
  display: flex;
  flex-direction: row;
  gap: 16px;
  padding-top: 2px;
  padding-bottom: 2px;
}
.profile {
  padding-right: 16px;
  border-right: 0.854167px solid #7eb101;
  display: flex;
  flex-direction: column;
  padding-top: 2px;
  padding-bottom: 2px;

  &__img {
    width: 48px;
  }
  &__name {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 14px;
    line-height: calc(21px / 14px);
    color: var(--main-text-color);
    margin: 0;
  }
  &__description {
    font-family: var(--main-font);
    font-size: 14px;
    line-height: calc(21px / 14px);
    color: var(--main-text-color);
  }
}
